<a href="https://colab.research.google.com/github/blgn94/Machine-Learning/blob/main/MachineLearningLab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup
import requests

soup = []
for page in range(1, 80):
  response = requests.get(f"https://www.zangia.mn/job/list/lmt.100/pg.{page}")
  soup.append(BeautifulSoup(response.text, "html.parser"))
  print(len(soup))

In [ ]:
jobLinks = []
for page in range(1, len(soup)):
  adDivs = soup[page].find_all("div", class_="ad")
  for div in adDivs:
    jobLinks.append(div.a['href'])
print(len(jobLinks))

In [ ]:
eachJobs = []
# i = 0
for link in jobLinks:
  # i += 1
  jobLink = "https://www.zangia.mn/" + link
  response = requests.get(jobLink)
  eachJobs.append(BeautifulSoup(response.text, "html.parser"))
  # if i == 100:
  #   break
  print(len(eachJobs))

In [39]:
import pandas as pd
import numpy as np

jobsDetail = []
oneJobH2 = []
checkJobH2 = ["Байршил", "Салбар", "Түвшин", "Төрөл", "Цалин"]
for eachPageInfo in eachJobs:
  details = eachPageInfo.find_all("div", class_="details")
  if len(details) > 0:
    divs = details[0].find_all("div")
    oneJobDetail = []
    oneJobDetail.append(eachPageInfo.h3.string.strip())
    if len(divs) == 5:
      for k in range(0, 5):
        oneJobDetail.append(divs[k].find("span").text.strip())
    elif len(divs) < 5:
      for k in range(0, len(divs)):
        oneJobH2.append(divs[k].find("b").text.strip())
      for check in checkJobH2:
        k = 0
        if not(check in oneJobH2):
          oneJobDetail.append("Тодорхойгүй")
          k += 1
        else:
          oneJobDetail.append(divs[k].find("span").text.strip())
          k += 1
    oneJobDetail.append(details[1].find_all("span")[0].text.strip())
    jobsDetail.append(oneJobDetail)
ajil = []
bairshil = []
salbar = []
tuvshin = []
torol = []
tsalin = []
dugaar = []
for i in range(0, len(jobsDetail)):
  ajil.append(jobsDetail[i][0])
  bairshil.append(jobsDetail[i][1])
  salbar.append(jobsDetail[i][2])
  tuvshin.append(jobsDetail[i][3])
  torol.append(jobsDetail[i][4])
  tsalin.append(jobsDetail[i][5])
  dugaar.append(jobsDetail[i][6])
data = {
    "Ажил": ajil,
    "Байршил": bairshil,
    "Салбар": salbar,
    "Түвшин": tuvshin,
    "Төрөл": torol,
    "Цалин": tsalin,
    "Дугаар": dugaar,
}
df = pd.DataFrame(data)
df.to_csv('zangia.tsv', sep="\t")
print(df)

                                                  Ажил  \
0                                         Мерчиндайзер
1                Үйлдвэрийн оператор /Сүүний үйлдвэрт/
2                                      Агуулахын нярав
3                         Автоматикийн ээлжийн инженер
4                                        Брэнд менежер
...                                                ...
7270  АВТОГРЕЙДЕРИЙН ОПЕРАТОР /Нарийн сухайтын уурхай/
7271    БУЛЬДОЗЕРИЙН ОПЕРАТОР /Нарийн сухайтын уурхай/
7272            АВТОСАМОСВАЛЫН ОПЕРАТОР/Нарийн Сухайт/
7273    ЭКСКАВАТОРЫН ОПЕРАТОР /Нарийн сухайтын уурхай/
7274            ӨРМИЙН ТУСЛАХ /Нарийн сухайтын уурхай/

                              Байршил                               Салбар  \
0     Улаанбаатар хот, Хан-Уул дүүрэг                 Худалдаа, Борлуулалт
1     Улаанбаатар хот, Хан-Уул дүүрэг                Үйлдвэрлэл, Дэд бүтэц
2     Улаанбаатар хот, Хан-Уул дүүрэг  Банк, санхүү, нягтлан бодох бүртгэл
3     Улаанбаатар хот, Хан-Уул дүүрэг                Үйлдвэрлэл, Дэд бүтэц
4     Улаанбаатар хот, Хан-Уул дүүрэг             Маркетинг, PR, Менежмент
...                               ...                                  ...
7270                   Өмнөговь аймаг                           Уул уурхай
7271                   Өмнөговь аймаг                           Уул уурхай
7272                   Өмнөговь аймаг                           Уул уурхай
7273                   Өмнөговь аймаг                           Уул уурхай
7274                   Өмнөговь аймаг                           Уул уурхай

                    Түвшин         Төрөл                  Цалин  \
0              Мэргэжилтэн  Бүтэн цагийн  1,500,000 - 1,800,000
1              Мэргэжилтэн       Ээлжийн  1,200,000 - 1,500,000
2              Мэргэжилтэн       Ээлжийн  1,200,000 - 1,500,000
3              Мэргэжилтэн       Ээлжийн  1,800,000 - 2,100,000
4              Мэргэжилтэн  Бүтэн цагийн  2,100,000 - 2,500,000
...                    ...           ...                    ...
7270  Мэргэжил хамаарахгүй       Ээлжийн  1,200,000 - 1,500,000
7271  Мэргэжил хамаарахгүй       Ээлжийн  1,200,000 - 1,500,000
7272  Мэргэжил хамаарахгүй       Ээлжийн  1,500,000 - 1,800,000
7273  Мэргэжил хамаарахгүй       Ээлжийн  1,200,000 - 1,500,000
7274           Мэргэжилтэн       Ээлжийн  1,200,000 - 1,500,000

                  Дугаар
0     86200126, 76762222
1     86200126, 76762222
2     86200126, 76762222
3     86200126, 76762222
4     86200126, 76762222
...                  ...
7270            70107482
7271            70107482
7272            70107482
7273            70107482
7274            70107482

[7275 rows x 7 columns]

In [44]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
import json

with open("data.json", "w") as writeJSON:
    json.dump(str(eachJobs), writeJSON, ensure_ascii=False)